<html
  lang="pt-BR"
  style="background-image:  url('{{background}}'); background-size: cover; background-position: center"
>
  <head>
    <meta charset="UTF-8" />
    <title>LAUDO DE ANÁLISE E LIBERAÇÃO DE AÇÚCAR</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
      @page {
        margin: 0;
        size: A4;
      }
      html {
        width: 209.9mm; /* Largura A4 */
        height: 296.7mm; /* Altura A4 */
        margin: 0;
        padding: 0;
      }
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Roboto', Arial, sans-serif;
      }
      body {
        width: 209.9mm;
        /* A4 width */
        margin: 0 auto;
        /* Center the content */
        padding-left: 3cm;
        padding-right: 2cm;
        padding-top: 1cm;
        padding-bottom: 1cm;
        /* 100px side margins */
      }
      h2,
      h3 {
        text-align: center;
        margin: 5px 0;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      td {
        border: 1px solid black;
        padding: 2px;
        font-size: 12px;
        text-align: center;
        vertical-align: top;
      }
      header table {
        border: 2px solid black;
        margin-bottom: 10px;
      }
      header td {
        border: none;
      }
      header td:nth-child(1) {
        width: 20%;
        height: 70px;
        border-right: 2px solid black;
        padding-top: 20px;
      }
      header td:nth-child(2) {
        padding-top: 20px;
        width: 50%;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        border-right: 2px solid black;
      }
      header td:nth-child(3) {
        width: 30%;
        font-size: 14px;
        text-align: left;
      }
      .section-title {
        background-color: rgb(249, 247, 251);
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        padding: 3px;
      }
      .page-break {
        padding-left: 3cm;
        padding-right: 2cm;
        padding-top: 1cm;
        padding-bottom: 1cm;
      }
      .section-title-green {
        background-color: rgba(140, 193, 60);
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        padding: 5px;
      }
      .section-title-no-color {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <header>
      <table>
        <tr>
          <td>
            <img src="{{logoBase64}}" alt="Logo" style="width: 75%; height: 70px; object-fit: cover" />
          </td>
          <td>
            <span>LAUDO DE ANÁLISE E LIBERAÇÃO DE AÇÚCAR</span>
            <p style="border-top: 1px solid black; padding: 2px; font-size: 14px; margin-top: 5px; text-align: left">
              CLASSIFICAÇÃO:
              <strong>Registro</strong>
            </p>
          </td>
          <td>
            <p style="border-bottom: 1px solid black; padding: 6px 2px">
              REGISTRO Nº:<br />
              <strong>REG CQFQ 014</strong>
            </p>

            <p style="border-bottom: 1px solid black; padding: 2px">EM VIGOR: <strong>29.01.2025</strong></p>
            <p style="padding: 2px">PAGINAS: <strong>1 de 2</strong></p>
          </td>
        </tr>
      </table>
    </header>
    <table class="ident-table">
      <tr>
        <td class="section-title" colspan="8">1. Identificação do Certificado de Qualidade do Açúcar</td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px">
          <span> Data de Recebimento: </span>
        </td>
        <td style="text-align: left; margin-left: 1.5px">
          <span>{{formatDate dataRecebimentoIdentificacaoCertificado}}</span>
        </td>
        <td style="text-align: left; margin-left: 1.5px"><span>Nº da Amostra</span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{numeroAmostra}}</span></td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px" colspan="1">Nota Fiscal:</td>
        <td style="text-align: left; margin-left: 1.5px" colspan="5">{{numeroNotaFiscal}}</td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px"><span>Fabricante: </span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{fabricante}}</span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>Fornecedor:</span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{fornecedor}}</span></td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px"><span>Data de Fabricação do Açúcar: </span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{formatDate dataFabricacao}}</span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>Quantidade Recebida:</span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{formatNumber quantidadeRecebida}} KG</span></td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px"><span>Safra: </span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{safra}}</span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>Lote:</span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{lote}}</span></td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px" colspan="1">Composição</td>
        <td colspan="5" style="text-align: left; margin-left: 1.5px">{{composicao}}</td>
      </tr>
    </table>
    <table style="margin-top: 2px">
      <tr>
        <td class="section-title" colspan="8">2. Análise de Avaliação Sensorial</td>
      </tr>
      <tr>
        <td class="section-title" colspan="1">
          <span> <strong>Testes: </strong></span>
        </td>
        <td class="section-title" colspan="5"><strong>Resultados </strong></td>
      </tr>
      <tr></tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px"><span>Data da Análise: </span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{formatDate dataAnaliseAvaliacaoSensorial}}</span></td>
        <td style="text-align: left; margin-left: 1.5px">
          <span style="text-align: left; margin-left: 1.5px"
            >Aparência da Amostra: <span style="color: red">(Cristais)</span></span
          >
        </td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{aparencia}}</span></td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px">
          <span>Cheiro: <span style="color: red">(Caracterísco de cana de açúcar)</span></span>
        </td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{cheiro}}</span></td>
        <td style="text-align: left; margin-left: 1.5px">
          <span>Sabor: <span style="color: red">(Caracterísco de cana de açúcar)</span></span>
        </td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{sabor}}</span></td>
      </tr>

      <tr>
        <td style="text-align: left; margin-left: 1.5px" colspan="1">Assinatura do Analista Responsável:</td>
        <td style="text-align: left" colspan="5">{{assinaturaResponsavelAvaliacaoSensorial}}</td>
      </tr>
    </table>
    <table style="margin-top: 2px">
      <tr>
        <td class="section-title" colspan="8">3. Análise de Parâmetro Físico-Químicos</td>
      </tr>
      <tr>
        <td class="section-title">
          <span> <strong>Testes: </strong></span>
        </td>
        <td class="section-title"><strong>Resultados </strong></td>
        <td class="section-title">
          <span> <strong>Testes: </strong></span>
        </td>
        <td class="section-title"><strong>Resultados </strong></td>
      </tr>
      <tr></tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px"><span>Data da Análise: </span></td>
        <td style="text-align: left; margin-left: 1.5px">
          <span>{{formatDate dataAnaliseAnaliseFisicoQuimica}}</span>
        </td>
        <td>
          <span style="text-align: left; margin-left: 1.5px"
            >Tempo de Filtrabilidade: <span style="color: red">(Máximo de 5 minutos)</span></span
          >
        </td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{tempoFiltrabilidade}}</span></td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px"><span>°Brix:</span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{brix}}</span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>Sacarose: </span></td>
        <td style="text-align: left; margin-left: 1.5px">
          <span> {{sacarose}} </span>
        </td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px"><span>Absorbância</span></td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{absorbancia}}</span></td>
        <td style="text-align: left; margin-left: 1.5px">
          <span>Índice de Cor Icumsa: <span style="color: red">(Até 250UI)</span> </span>
        </td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{indiceCorIcumsa}}</span></td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px">
          <span>Pontos Pretos:<span style="color: red">(Máximo de 20 unid)</span></span>
        </td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{pontosPretos}}</span></td>
        <td style="text-align: left; margin-left: 1.5px">
          <span>Resíduos insolubres: <span style="color: red">(Máximo nivel 4)</span></span>
        </td>
        <td style="text-align: left; margin-left: 1.5px"><span>{{residuosInsoluveis}}</span></td>
      </tr>
      <tr>
        <td style="text-align: left; margin-left: 1.5px" colspan="1">
          Umidade:<span style="color: red">(Máximo 0,07%)</span>
        </td>
        <td style="text-align: left; margin-left: 1.5px" colspan="5">{{umidade}}</td>
      </tr>
    </table>
    <table>
      <tr style="margin-top: 1px">
        <div
          style="
            border: 1px solid black;
            border-top: none;
            padding: 10px;
            font-family: Arial, sans-serif;
            font-size: 14px;
          "
        >
          <div style="text-align: center; font-weight: bold; border-bottom: 1px solid black; padding-bottom: 5px">
            CÁLCULO PARA DETERMINAÇÃO DACOR ICUMSA (UI):<br />
            <span style="font-weight: bold">(A) x 1000 / (B) x (C)</span>
          </div>

          <div style="margin-top: 10px">
            <div>(A) = Absorbância medida a 420 nm;</div>
            <div>(B) = Comprimento interno da célula em cm: (10 mm = 1 cm)</div>
            <div>(C) = Concentração de sacarose (g/mL) em função do brix a 20°</div>
          </div>

          <div style="margin-top: 10px; font-weight: bold">Cálculo:</div>
          <div style="height: 110px; text-align: center; white-space: pre-line">{{calculoCorIcumsa}}</div>
        </div>
      </tr>
    </table>

    <table>
      <tr>
        <td style="text-align: left; margin-left: 1.5px" colspan="1" style="width: 25%; font-weight: 600">
          Flocos Alcoólicos:
          <span style="color: red">(Absorbância &le; 120 )</span>
        </td>
        <td colspan="5" style="text-align: left; margin-left: 1.5px; width: 75%">{{flocosAlcoolicos}}</td>
      </tr>
      <tr>
        <td colspan="5">
          <div style="display: flex">
            <span style="text-align: left; margin-left: 1.5px">Assinatura do Analista:</span>
            <span style="margin-left: 10px; text-align: left">{{assinaturaAnalistaanaliseFisicoQuimica}}</span>
          </div>
        </td>
      </tr>
    </table>
    <table style="margin-bottom: 10px; margin-top: 10px">
      <tr>
        <td class="section-title-green" colspan="3" style="text-align: center">APROVAÇÕES</td>
      </tr>
      <tr>
        <td style="text-align: center; border: 1px solid black; font-size: 14px">
          <strong style="text-decoration: underline">Elaborado por: <br /></strong>
          Nayara Bezerra<br />
          Analista de Qualidade<br />
          12/06/2025
        </td>
        <td style="text-align: center; border: 1px solid black; font-size: 14px">
          <strong style="text-decoration: underline">Revisado por: <br /></strong>
          Karla Macielle<br />
          Analista de Qualidade<br />
        </td>
        <td style="text-align: center; border: 1px solid black; font-size: 14px">
          <strong style="text-decoration: underline">Aprovado por: <br /></strong>
          Wanderson Wagner Martins<br />
          Rabelo Porto<br />
          Coordenador de Qualidade<br />
          10/07/2025
        </td>
      </tr>
    </table>
    <p style="right: 0; font-weight: bold; position: absolute; padding-right: 150px; margin-top: 15px">1</p>
    <div style="page-break-before: always" class="page-break"></div>
    <header>
      <table>
        <tr>
          <td>
            <img src="{{logoBase64}}" alt="Logo" style="width: 75%; height: 70px; object-fit: cover" />
          </td>
          <td>
            <span>LAUDO DE ANÁLISE E LIBERAÇÃO DE AÇÚCAR</span>
            <p style="border-top: 1px solid black; padding: 2px; font-size: 14px; margin-top: 5px; text-align: left">
              CLASSIFICAÇÃO:
              <strong>Registro</strong>
            </p>
          </td>
          <td>
            <p style="border-bottom: 1px solid black; padding: 6px 2px">
              REGISTRO Nº:<br />
              <strong>REG CQFQ 014</strong>
            </p>

            <p style="border-bottom: 1px solid black; padding: 2px">EM VIGOR: <strong>29.01.2025</strong></p>
            <p style="padding: 2px">PAGINAS: <strong>1 de 2</strong></p>
          </td>
        </tr>
      </table>
    </header>
    <table class="ident-table">
      <tr>
        <td class="section-title" colspan="8">4. Status Final da Amostra</td>
      </tr>
      <tr>
        <td>
          <div style="display: flex; justify-content: space-around; margin-top: 10px">
            ({{#if (eq statusAmostra 'Aprovada')}}✔{{/if}}) Aprovado ({{#if (eq statusAmostra 'Reprovada')}}✔{{/if}})
            Reprovada
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="display: flex; height: 150px">
            <strong>Observações:</strong>
            <span style="display: inline-block; width: 500px; white-space: pre-line"> {{observacoesStatusFinal}} </span>
          </div>
        </td>
      </tr>
    </table>
    <div style="margin-top: 40px">
      <p style="text-align: justify; font-size: 14px">
        <strong>NOTA 01:</strong>
        Ao final das análises relativas aos testes de Tempo de Filtrabilidade, Pontos Pretos, Resíduo Insolúvel, Índice
        de Cor Icumsa, Umidade e Flocos Alcoólicos, com a amostra de açúcar recebida, os resultados devem ser repassados
        para as áreas envolvidas no processo de recebimento de açúcar (Almoxarifado e Matéria-prima), autorizando ou não
        o recebimento da carga através da etiqueta, REG GQ 030.
      </p>
      <div style="margin-top: 40px; font-size: 14px">
        <strong>Assinatura da Gestão de Qualidade:</strong>
        <span style="display: inline-block; width: 200px; border-bottom: 1px solid #000"
          >{{assinaturaGestaoQualidade}}</span
        >
        <strong>Data:</strong>
        <span style="display: inline-block; width: 100px; border-bottom: 1px solid #000"
          >{{formatDate dataGestaoQualidade}}</span
        >
      </div>
    </div>
    <!-- <table style="margin-bottom: 10px; margin-top: 10px">
      <tr>
        <td class="section-title-green" colspan="3" style="text-align: center">APROVAÇÕES</td>
      </tr>
      <tr>
        <td style="text-align: center; border: 1px solid black; font-size: 14px">
          <strong style="text-decoration: underline">Elaborado por: <br /></strong>
          Beatriz Duarte<br />
          29/01/2025<br />
          Analista de Qualidade
        </td>
        <td style="text-align: center; border: 1px solid black; font-size: 14px">
          <strong style="text-decoration: underline">Revisado por: <br /></strong>
          Nayara Bezerra<br />
          29/01/2025<br />
          Analista de Qualidade
        </td>
        <td style="text-align: center; border: 1px solid black; font-size: 14px">
          <strong style="text-decoration: underline">Aprovado por: <br /></strong>
          Camila Souza<br />
          29/01/2025<br />
          Gerente de Qualidade
        </td>
      </tr>
    </table> -->
    <table style="margin-bottom: 10px; margin-top: 10px">
      <tr>
        <td class="section-title-no-color" colspan="4" style="text-align: center">HISTÓRICO</td>
      </tr>
      <tr>
        <td style="text-align: center; font-weight: bold">REVISÃO</td>
        <td style="text-align: center; font-weight: bold">DATA</td>
        <td style="text-align: center; font-weight: bold">RESPONSÁVEL</td>
        <td style="text-align: center; font-weight: bold">ALTERAÇÕES</td>
      </tr>
      <tr style="font-size: 14px">
        <td style="font-size: 14px">00</td>
        <td style="font-size: 14px">09.07.2024</td>
        <td style="font-size: 14px">Maria Gomes</td>
        <td style="font-size: 14px">- Emissão inicial</td>
      </tr>
      <tr style="font-size: 14px">
        <td style="font-size: 14px">01</td>
        <td style="font-size: 14px">02.12.2024</td>
        <td style="font-size: 14px">Beatriz Duarte</td>
        <td style="font-size: 14px">
          - Alteração no parâmetro do indíce de cor icumsa, delimitando apenas ao seu valor máximo
        </td>
      </tr>
      <tr style="font-size: 14px">
        <td style="font-size: 14px">02</td>
        <td style="font-size: 14px">29.01.2025</td>
        <td style="font-size: 14px">Beatriz Duarte</td>
        <td style="font-size: 14px">
          - Inclusão do campo para análise dos parâmetros de Pontos Pretos e Resíduo Insolúvel e atualização da NOTA 01,
          para inclusão da descrição das análises em questão
        </td>
      </tr>
      <tr style="font-size: 14px">
        <td style="font-size: 14px">03</td>
        <td style="font-size: 14px">12.06.2025</td>
        <td style="font-size: 14px">Nayara Bezerra</td>
        <td style="font-size: 14px">
          - Inclusão do campo para análise do parâmetro de “umidade” e substituição da assinatura da gerente de
          qualidade por “gestão da qualidade”. E atualização da NOTA 01, para inclusão da descrição das análises em
          questão.
        </td>
      </tr>
    </table>
    <table style="margin-bottom: 10px; margin-top: 10px">
      <tr>
        <td class="section-title-green" colspan="3" style="text-align: center">APROVAÇÕES</td>
      </tr>
      <tr>
        <td style="text-align: center; border: 1px solid black; font-size: 14px">
          <strong style="text-decoration: underline">Elaborado por: <br /></strong>
          Nayara Bezerra<br />
          Analista de Qualidade<br />
          12/06/2025
        </td>
        <td style="text-align: center; border: 1px solid black; font-size: 14px">
          <strong style="text-decoration: underline">Revisado por: <br /></strong>
          Karla Macielle<br />
          Analista de Qualidade<br />
        </td>
        <td style="text-align: center; border: 1px solid black; font-size: 14px">
          <strong style="text-decoration: underline">Aprovado por: <br /></strong>
          Wanderson Wagner Martins<br />
          Rabelo Porto<br />
          Coordenador de Qualidade<br />
          10/07/2025
        </td>
      </tr>
    </table>
    <p style="font-weight: bold; right: 0; position: absolute; padding-right: 150px">2</p>
  </body>
</html>
